body {
    --red: #db0030;
    --maroon: #AB2F2B;
    --blue: #004d98;
    --navy: #0C3161;
    --green: #009808;
    --dark-green: #006e05;
    --yellow: #FED614;
    --gold: #D6A908;
    --dark: #181818;
    --bkg: #0e1318;
    --light-bkg: #1e2933;
}

body {
    background-color: var(--bkg);
    color: white;
}

#order-nav{
    margin-bottom: 30px;
}

#footer {
    position: fixed;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    color: rgb(88, 88, 88);
}

.navbar.bg-info {
    background-color: var(--blue) !important;
}

.navbar-brand, h1, h2, .btn {
    font-family: "Staatliches";
}

.navbar-brand {
    font-size: 22pt;
}

.navbar {
    margin-bottom: 30px;
}

.btn-delete {
    background-color: var(--red);
    color: white;
    outline: none;
    border: none;
    box-shadow: none;  
}

.btn-delete:hover {
    background-color: #a50044;
    color: white;
    outline: none;
    border: none;
}

.btn-update {
    background-color: var(--blue);
    color: white;
    outline: none;
    border: none;
    box-shadow: none;  
}

.btn-update:hover {
    background-color: var(--navy);
    color: white;
    outline: none;
    border: none;
}

.btn-submit {
    background-color: var(--green);
    color: white;
    outline: none;
    border: none;
    box-shadow: none;  
}

.btn-submit:hover {
    background-color: var(--dark-green);
    color: white;
    outline: none;
    border: none;
}

thead.thead-darker {
    background-color: #212529;
}

thead.thead-darker td { 
    border-color: #2b3035 !important;
}

.color-preview {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 4.8px;
    background-color: var(--preview);
}