body {
    --red: #db0030;
    --bc-maroon: #AB2F2B;
    --blue: #004d98;
    --green: #009808;
    --yellow: #FED614;
    --bc-gold: #D6A908;
    --dark: #181818;
}

#order-nav{
    margin-bottom: 30px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 5px;
    color: rgb(88, 88, 88);
}

.navbar.bg-info {
    background-color: var(--blue) !important;
}

.navbar-brand, h1, h2, .btn {
    font-family: "Staatliches";
}

.navbar-brand {
    font-size: 22pt;
}

.navbar {
    margin-bottom: 30px;
}