.btn-danger {
    background-color: var(--red);
    outline: none;
    border: none;    
}

.btn-danger:hover {
    background-color: #a50044;
    outline: none;
    border: none;   
}

.btn-danger:active {
    background-color: #a50044;
    outline: none;
    border: none;
}

.btn-danger:focus, .btn:focus {
    background-color: #a50044;
  box-shadow: none;
}

.category-menu {
    font-size: 20pt;
}