body {
    --bc-yellow: #FED614;
    --bc-blue: #114488;
    --bc-red: #D53A36;
    --bc-gold: #D6A908;
    --bc-maroon: #AB2F2B;
}

#title-row {
    margin-top: 20px;
}

#menu-row {
    margin-top: 20px;
}

.grid1 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.grid2 {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button {
    position: relative;
    width: 80%;
    height: 0;
    padding-top: 27.5%;
    padding-bottom: 52.5%;
    background-color: var(--bc-yellow);
    border-color: var(--bc-red) !important;
    color: var(--bc-red);
}

.button:hover {
    background-color: var(--bc-gold);
    color: var(--bc-maroon)
}

.manager-font {
    font-size: 60px;
}