#title-row {
    margin-top: 20px;
}

#menu-row {
    margin-top: 20px;
}

.grid1 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.grid2 {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.buttons {

}

